
*{
    margin: 0;
    padding: 0;
}
.rotation_all{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
}
.rotation_all>ul{
    position: absolute;
    width: 600%;
    height: 200px;
    background-color: blue;
    list-style: none;
}
.rotation_ul_li{
    width: 400px;
    height: 200px;
    background-color: red;
    float: left;
}
.rotation_ul_li>img{
    width: 400px;
    height: 200px;
}
.rotation_l{
    position: absolute;
    width: 25px;
    line-height: 25px;
    top: 50%;
    font-size: 20px;
    margin-top: -12.5px;
    background-color: royalblue;
    left: 0;
    text-align: center;
    border-radius: 50%;
    display: none;
}
.rotation_r{
    position: absolute;
    width: 25px;
    line-height: 25px;
    font-size: 20px;
    right: 0;
    top: 50%;
    margin-top: -12.5px;
    background-color: royalblue;
    text-align: center;
    border-radius: 50%;
    display: none;
}
.rotation_all>ol{
    position: absolute;
    width: 300px;
    height: 20px;
    bottom: 0;
    text-align: center;
    left: 20px;
    list-style: none;
}
.rotation_all ol>li{
    width: 10px;
    margin: 0 2.5px;
    border-radius: 50% ;
    height: 10px;
    background-color: aqua;
    float: left;
    cursor: pointer;
}
.rotation_all_ol_one{
    background-color: blue;
}
