*{margin:0;padding: 0}
ul{list-style:none;}
#box{
    width:800px;
    height: 120px;
    margin: 200px auto;
    border:1px solid #ccc;
    position: relative;
}

#left{
    width:40px;
    height: 40px;
    background: #ccc;
    opacity: 0.5;
    text-align: center;
    line-height: 40px;
    left:0px;top:40px;
    position: absolute;
}

#right{
    width:40px;height: 40px;background: #ccc;
    opacity: 0.5;
    text-align: center;line-height: 40px;
    right:0px;top:40px;position: absolute;}

#imgs{width:600px;
    height: 50px;
    margin:auto;margin-top:40px;
    overflow: hidden; 
} 
.aa{width:1240px;height: 50px;}
ul li{float:left;padding: 0px 7px;width:110px;height: 50px;}
ul li img{width:110px;height: 50px;}